@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
