.closing
{
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    background-color: $gray-darker;

    p
    {
        margin: 0;
        padding: 0;
        font-size: $font-size-small;
        float: left;
        color: $gray-lighter;

        &.fik-stores-badge
        {
            float: right;
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: $font-size-small;
            font-weight: 100;
            position: relative;
            padding-right: 87px;

            &>a
            {
                display: inline-block;
                position: absolute;
                right: 0;
                top: -3px;

                &>img
                {
                    height: 21px;
                    width: 152px;
                    pointer-events: none;
                    max-width: none;
                }
            }
        }
    }
}
