// Special titles

.fik-special-title
{
    margin: 0;
    text-transform: uppercase;
    font-weight: $headings-font-weight;
    margin-bottom: 2 * $line-height-computed;
    position: relative;

    &:after
    {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        left: 0;
        bottom: -12px;
        background-color: $brand-primary;
    }
}

// Latest-posts

.latest-posts
{
    figcaption
    {
        text-align: left;
        position: relative;

        .author
        {
            margin: 0;
        }

        .number-comments
        {
            position: absolute;
            top: 0;
            right: 0;

            .comments-icon
            {
                margin-right: 4px;
                color: $brand-primary;
            }
        }
    }
}
