.single-fik_product
{
    .product-images
    {

    }

    .product-info
    {
        .product-title
        {
            margin-top: 0;
        }

        .product-price
        {
            font-size: $font-size-h3;
            font-weight: $headings-font-weight;

            del
            {
                color: $gray-light;

                .highPrice
                {
                    margin-right: 10px;
                }
            }
        }

        .product-description
        {
            margin: $line-height-computed 0;
        }

        .product-options
        {
            .control-group
            {
                margin-bottom: $line-height-computed;

                &.product-quantity
                {
                    display: inline-block;
                    width: 47.5%;
                    margin-right: 5%;
                }
            }

            .button
            {
                position: absolute;
                right: 15px;
                bottom: 0;
                margin-bottom: $line-height-computed;
                height: 34px;
            }
        }
    }
}
